<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css') }}">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav>
            <a href="/">Log In</a>
            <a href="/user_index">List of workouts</a>
            <a href="/logout">Log Out</a>
            <a href="/settings">Settings</a>
            <a href="/register">Register</a>
            <a href="/exercise">Exercise</a>
            <a href="/graph">Graph</a>
        </nav>
        <hr>
        <div class="content">
            {%block content%} {%endblock%}
        </div>
    </body>
</html>