{%extends 'base.html'%}

{%block content%} 
<table class="table tablestriped">
    <tbody>
        <thead>
            <th>{{date}}</th>
        </thead>
        <thead>
            <th>Exercise</th>
            <th>Intervals</th>
            <th>Resistance</th>
        </thead>
        {% if set_to_edit %}
        <tr>
            <td class="border-0 fw-bold text-end">{{set_to_edit['e_name']}}</td>
            <td class="border-0 fw-bold text-end">{{set_to_edit['s_interval']}}</td>
            <td class="border-0 fw-bold text-end">{{set_to_edit['s_res']}}</td>
            <td>
                <button type="submit" width="200" height="200" id="edit[]" type="button" onclick="printSetID(this)" name="edit-set" value="">Save</button>
            </td>
        </tr>
        {% endif %}
    </tbody>
{% endblock %}