{%extends 'base.html'%}

{%block content%} 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<input type="text" list="exercise" />
<datalist name="exercise" id="exercise">

    {% for i in unique_exercise_names %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
</datalist>

<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    // <!-- setup function to make one graph -->
    function makeGraph(lst, indexOfGraph){
        console.log(lst)
        console.log(indexOfGraph)
        const labels = [
            {% for ex in lst %}
                '{{ex.workout_date}}',
            {% endfor %}
        ];
    
        const data = {
        labels: labels,
        datasets: [{
            label: '{{graph_exercises[0].exercise_name}}',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [
                {% for ex in lst %}
                        {{ex.resistance}},
                {% endfor %}
            ],
        }]
        };
    
        const config = {
        type: 'line',
        data: data,
        options: {}
        };
    }

    graphIndex = 'myChart' + str(indexOfGraph)
        var myChart = new Chart(
        document.getElementById(graphIndex),
        config
        );
    
</script>

<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
</script>

{% endblock %}