{%extends 'base.html'%}

{%block content%} 
    <h1>{%block title%} 
        {% if name %} 
            {{name}} 
        {% endif %} 
        {% endblock %}
    </h1>
    
    <table class="table tablestriped">
        <tbody>
            <form action="/begin_edit_set" method="post">
            {%for date in dates %}
                <thead>
                    <th>{{date}}</th>
                    <th>Exercise</th>
                    <!-- run a for loop to get the correct amount of colomns -->
                    {% for i in range(columns) %}
                    <th>Intervals</th>
                    <th>Resistance</th>
                    <th></th>
                    {% endfor %}
                </thead>
                    {%for key, value in workouts[date].items() %}
                    <tr>
                        <td></td>
                        <td>{{key}}</td>
                        {% for i in value %}
                            {% if loop.index % 3 == 0 %}
                            <td><button type="submit" width="200" height="200" id="edit[]" type="button" name="edit-set" value="{{i}}">&#60-Edit</button></td>
                            {% else %}
                            <td>{{i}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
            {% endfor %}
            </form>
        </tbody>
{% endblock %}