{%extends 'base.html'%}

{%block title%}
    {% if name %}
        {{name}}
    {% endif %}
{% endblock %}


{%block content%}
<link rel="stylesheet" href="{{url_for('static', filename='css/list_workouts.css') }}">

    <div style="width:100%;">
    <form action="/begin_edit_set" method="post">
        {%for date in dates %}
        <table> 
            <caption>{{date | replace("T", " ")}}</caption>
                <thead>
                    <th width="25%">Exercise</th>
                    <th width="25%">Intervals</th>
                    <th width="25%">Resistance</th>
                    <th width="25%"></th>
                </thead>
                <tbody>
                    {% for key, value in workouts[date].items() %}
                    <tr>
                        <!-- Key  is the name of the exercise -->
                        <th>{{key}}</th>

                        <!-- Loop through the values to get all intervals, resistances, and edit buttons -->
                        {% if loop.index % 3 == 0 %}
                        <td><button type="submit" width="200" height="200" id="edit[]" type="button" name="edit-set" value="{{value}}">&#60-Edit</button></td>
                        {% else %}
                        <td>{{value}}</td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </form>
    </div>
    
    <script>
        let sizeWidth = window.screen.availWidth;
        console.log(sizeWidth);
        // Get size of sceen then change layout if need be
        if (sizeWidth > 440){
            window.location.replace("/list_workouts"); 
        }
    </script>
{% endblock %}